    .raleway-normal {
        font-family: "Raleway", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: normal;
    }

    .btn,
    input[type="submit"] {
        border-radius: 5px;
        background-color: #4647FF;
        color: white;
        text-decoration: none;
        cursor: pointer;
        border: none;
        line-height: 150%;
        font-weight: 700;
        font-size: 16px;
        gap: 16px;
        padding: 7px;
        transition: transform 0.2s;
    }

    .btn:hover,
    input:hover[type="submit"] {
        background-color: yellow;
        font-size: 24px ;
        color: black;
        transform: scale(1.1);
    }

    body {
        margin: 0px;
        padding: 0px;
        /* width: 100%;
        min-height: 100%; */
    }

    h3 {
        line-height: 150%;
        font-weight: 900;
        font-size: 34px;

    }

    nav div div a {
        text-decoration: none;
    }

    .navi {
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* margin: 0px 100px; */
        width: 100%;
    }

    .s1 {
        margin: 0px 100px;
        padding: 100px 100px;
    }

    .he {
        /* overflow: auto; */
        display: block;
        max-width: 1440;
        max-height: 652;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        /* padding: 20px 40px; */
    }

    .background-img {
        margin: 0px;
        padding: 0px;
        min-width: 100%;
        display: block;
        background-image: url('../assets/Hero-bg.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    h2 {
        margin-top: 0px;
        text-align: center;
        font-size: 65;
        font-weight: 700;
    }

    .she {
        text-align: center;
        display: block;
        max-width: 905;
        max-height: 237;
        justify-content: center;
        align-items: center;
        text-align: center;
        /* gap: 20px; */
        padding: 0px 0px 100px;
        margin: 0px auto;
    }

    P {
        font-size: 24;
        font-weight: 400;
        /* line-height: 30; */
    }

    .c1 {
        font-weight: 700;
        font-size: 38;
        letter-spacing: auto;
    }

    h5 {
        font-size: 42;
        font-weight: 700;
    }

    .white {
        text-decoration: white;
    }

    .image img {
        border-radius: 5px;
    }

    .t1 {
        color: rgba(37, 36, 50, 0.5);
    }

    .t2 {
        color: #4E47FF;
    }

    .mid {
        display: flex;
        gap: 35px;
        justify-content: center;
    }

    .middle {
        margin: 0px 500px;
        background-color: rgba(78, 71, 255, 0.1);
        border-radius: 24px;
        padding: 20px;
    }

    .mi {
        font-size: 80;
        color: #4E47FF;
        font-weight: 700;
        font-family: "Inter", sans-serif;
    }

    .m {
        font-size: 20;
        color: rgba(37, 36, 50, 0.5);
        font-weight: 400;
    }

    .mi,
    .m {
        padding-bottom: none;
    }

    h4 {
        text-align: center;
    }
    .t3{
        margin: 50px 0px;
    }
    .rev {
        display: flex;
        gap: 50px;
        border-radius: 10px;
        justify-content: center;

    }
    .im {
        display: flex;
        gap: 23px;
        border-radius: 10px;
        justify-content: left;
        align-items: center;

    }
    .im img{
        width: 40px;
        height: 40px;
    }
    .bro {
        border-radius: 5px;
        box-shadow: 10px 6px 70px 7px rgba(242, 237, 237, 1);
        margin: 21px;
    }

    .bro h4 {
        text-align: left;
    }
    .im p{
        color: rgba(117, 117, 117, 1);
    }

    .fo {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 200px;
        background-color: rgba(255, 255, 255, 0.5);
        /* width: 1140px;
        height: 632px; */
    }
    .form h1{
        font-size: 97;
        font-weight: 700;
        gap: 10px;
    }
    input[type="text"],
    input[type="email"],
    input[type="submit"] {
        padding: 32px 20px;
        height: 70px;
        width: 340px;
        border: 1px solid rgba(214, 221, 237, 1);
        border-radius: 10px;
    }
    textarea{
        padding: 32px 20px;
        /* height: 70px; */
        width: 340px;
        border: 1px solid rgba(214, 221, 237, 1);
        border-radius: 10px;
    }
    input[type="submit"]{
        padding: 25px 19px;
        /* height: 10px; */
    }
    .fot {
        text-align: center;
        padding-bottom: 35px;
    }

    li,
    li a {
        display: inline;
        padding: 5px;
        color: #8987A1;
        text-decoration: none;
    }
    .f1{
        color: #4E47FF;
        font-size: 100px;
        font-weight: 900;
    }
    .f2{
        color: #8987A1;
    }